/* VARIABLE */
:root{
    --black: "#000";
    --radius-rounded: 1.5rem;
}

/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    color: var(--black);
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
html {
    font-size: 62.5%;
    width: 100%;
}
body{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 

/* HEADER */
.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 3.0rem;

}
.header__picture{
    border-radius: var(--radius-rounded);
}
.menu__nav, .menu__action{
    display: flex;
    column-gap: 0.8rem;
}
